@using SurfRU.Helpers

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top surfheading">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    @Html.ActionLink("SURF.RU", "Index", "Feed", new { area = "" }, new { @class = "navbar-brand headerpic" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">

                    @{
                        if (Session["UserId"] != null)
                        {
                        <li>
                            @{ 
                                var photo = Session["Photo"];
                            }

                            @if (photo != Guid.Empty.ToString())
                            {
                                var url = string.Format("~/{0}", photo);
                                <img src=@Url.Content(url) class="avatar" />
                            }
                        </li>
                        <li class="navbar-brand link-color">@Session["Nickname"]</li>
                        <li>@Html.ActionLink("Выйти", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand link-color" })</li>
                        }
                        else
                        {
                        <li>@Html.ActionLink("Войти", "Index", "Home", new { area = "" }, new { @class = "navbar-brand link-color" })</li>
                        <li>@Html.ActionLink("Регистрация", "Index", "Register", new { area = "" }, new { @class = "navbar-brand link-color" })</li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
